.list-group-item {
    color:#8C52FF;
    background-color:#F9EFFF!important;
    border-color: #EBCEFF;
}
body{
  background-image: url(https://pin.it/3NNZ1Rs);
}
h1{
  text-decoration-color: #8C52FF!important;
}